// 主题样式
$theme-default: (

  t-color-primary : (
    color: #FF5777
  ),

  t-shadow : (
    shadow: 0 0 8px #FF5777
  ),

  t-border : (
    border: 1Px solid #FF5777
  )
);

$theme-cool: (

  t-color-primary : (
    color: #409EFF
  ),

  t-shadow : (
    shadow: 0 0 8px #409EFF
  ),

  t-border : (
    border: 1Px solid #409EFF
  )
)